

.html1
{
	background-image: url("Landscape.jpg");
	background-position:bottom center;
	height:130%;
	background-position:bottom center;
	color:black;

}
.Liste
{
text-align:left;
font-size: 30%;
color:black;


}

.Boite1
{	
	margin: 30px auto;
	padding: 0px ;
	text-align:center;
	
	
}

.Boite2
{	
	text-align:center;
	padding: 20px ;
	margin: 10px ;

}
.Boite3
{
	
	text-align:center justify;
	padding: 20px ;
	margin: 15px ;
	border: 1px solid black;
	
}

.html2
{
	
background-image: url("Unspecified.jpg");
background-color:Darkgrey;
background-repeat: no-repeat;	
background-position: center;
background-attachment:fixed;
background-size:100% 100%;
background-position:bottom center;
color:DarkSlateGray ;
font-family: Lucida Sans Unicode;
	
}


.Image1
{
width:300px; 
height:325px;
float:left;
margin: 10px;

}

.Accueilb1
{
	
text-align: justify;
margin-left:10px;
margin: 40px auto;
padding: 0px ;
width:900px;
height:600px;

}

.Accueilb2
{
	text-align:center;
	font-size:45px;
	
}

.html3
{
	background-color:darkgray;
	padding:15px;
	
}

.h2
{
	text-align:center;
	
	
}

.Page1
{
	
	padding:15px 15px;
	margin:10px 10px;
	background-color:black;
	color: darkgray;
	font-size:30px;
	
	
}


.html4
{
	
color:white ;
font-family: Lucida Sans Unicode;
background-color: rgb(14, 177, 121);

}

.Dragon
{
padding-left:30%;
margin-top:10px;
width:125% auto; 
height:300px ;

}
